<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/header :: header"></div>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
<div class="container-fullscreen display-center">
    <div class="wrapper">
        <h3 class="text-center mb-4">Login</h3>
        <form id="login-form" th:action="@{/}" class="form-custom">
            <input class="input-custom" type="text" placeholder="username">
            <input class="input-custom" type="text" placeholder="password">
        </form>
        <div class="actions">
            <a th:href="@{/login/register}">Don't have any account ?</a>
            <input class="input-submit-custom" form="login-form" type="submit" value="Validation">
        </div>
    </div>
</div>

<script src="/js/login.js"></script>
</body>
</html>